[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DCluster"]
	path = DCluster
	url = https://github.com/becarioprecario/dcluster
[submodule "DClusterm"]
	path = DClusterm
	url = https://github.com/cran/DClusterm
[submodule "INLABMA"]
	path = INLABMA
	url = https://github.com/becarioprecario/inlabma
[submodule "RGIFT"]
	path = RGIFT
	url = https://github.com/cran/RGIFT
